# Контакты для гостевого оформления заказа на quicktickets.ru
QT_NAME="Иван Иванов"
QT_EMAIL="you@example.com"
QT_PHONE="+79001234567"

# Telegram-бот
TG_BOT_TOKEN=----
TG_CHAT_ID=------

# Playwright: headless для watch, true для book
HEADFUL=false
